@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3>静态资源版本号示例</h3>
    <div class="col-md-3">
        <ul>
            <li><a href="@Url.Action("QueryString")">查询参数</a></li>
            <li><a href="@Url.Action("FileName")">文件名形式</a></li>
            <li><a href="@Url.Action("Directory")">目录名形式</a></li>
        </ul>
    </div>
</div>
