@using System.Web.Configuration
@{
    ViewBag.Title = "QueryString";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    var CDNVersion = @WebConfigurationManager.AppSettings["CDNVersion"];
}
@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")?CV=@CDNVersion">
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")?CV=@CDNVersion">
}
<div class="container">
<h3>页面中引用的文件添加版本号</h3>
<p>查询参数形式版本号通过在应用程序中指定配置项，访问静态文件时拼接到路径后实现。</p>
<pre>
@@using System.Web.Configuration
@@{
    var CDNVersion = @@WebConfigurationManager.AppSettings["CDNVersion"];
}
&lt;link rel="stylesheet" href="@@Url.Content("~/Content/site.css")?CV=@@CDNVersion"&gt;
</pre>
<p>具体代码见Views/Home/QueryString.cshtml文件</p>
<h3>js中获取版本号</h3>
<pre>
&lt;script&gt;
  var CDNVersion = "@@CDNVersion";
&lt;/script&gt;
</pre>
<h3>css中引用的图片添加版本号</h3>
<pre>
$CDNVersion: "20160202";
@@function img-url($img, $path: "../img") {
    @@return url(#{$path}/#{$img}?CV=#{$CDNVersion});
}
.test {
    background-image: img-url("logo.png");
}
</pre>
<p>具体代码见Content/Site.scss，结果见<a href="@Url.Content("~/Content/Site.css")">Content/Site.css</a></p>
</div>